.nombre{
    text-align: center;
    font-size: 50px;
 
}

.puesto{
    text-align: center;
   font-size: 50px;
}

.info{
display:flex;
font-size: 17px;
align-content: center;

}
.ctn-tel{
    
    display: flex;
}

.num-tel{
    margin-right: 20px;
   
}
.parte1{
    display: flex;
    flex-direction: column;
}
.infPer{
   
    display: flex;
    width: 800px;
    margin-left: 30%;
}

.correo{
    margin-right: 20px;
}

.hola{
display: flex;
gap: 120px;
font-size: 20px;
justify-content: center;

}

.imagen2{

    display: flex;
flex-direction: column;
}

.hobby{
    margin-left: 60px;
    display: flex;
    align-self: center;
font-size: 30px;

}


.icono2{
margin-right: 500px;
}

.icono{
    margin-right: 40px;
    margin-top: 40px;
}

.acomodar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linea{
    width: 100px;
    height: 2px;
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;

}

.margen{
    border: solid;

}

.mover{
margin-left: 30px;
font-size: 30px;
}

.habilidades{
    margin-left: 30px;
    font-size: 50px;
}

.lineaaa{
border-left: 2px solid black;
 width: 175px;
}


.lineahorizontal{
    border: none;
    border-left: 2px solid;
}

.fotoo{
margin-left: 170px;

}
.header{
    font-size: 30px;

}
.experiencia{
    display: flex;
    margin-left: 30px;
}